<% provide(:title, "検索") %>
<div class="search-form">
  <%= render 'form' %>
  <div class="container search_risults">
    <% if @tweets %>
      <ul>
        <% @tweets.each do |tweet| %>
          <li><%= render tweet%></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
