<% provide(:title, "マイページ") %>

  <div class="container">
<div class="container poll_list">
  <% if @tweets %>
    <% @tweets.each do |tweet| %>
      <div class ="tweet">
        <%= tweet.wishing %> 
        <span>x</span>
        <%= tweet.count %><br>
        <br>
        <br>
        <%= image_tag('running.png',class: "running") %>
        
        <span>￥</span><%= tweet.reward %>
      </div>
    <% end %>
  <% end %>
</div>