<%= form_tag location_index_path do %>
  <input type="hidden" id="interval_latitude" name="latitude">
  <input type="hidden" id="interval_longitude" name="longitude">
  <button type="submit" id="interval_sub form_submit" style=""><%= %></button>
<% end %>
