<% provide(:title, "タイムライン") %>

<div class="container poll_list">
  <div class="row">
    <ul>
      <% if @tweets %>
        <% @tweets.each do |tweet| %>
        <li><%= render tweet %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
