$full-width: 100vw;
$full-hight: 100vh;
$head-icon-home: (25px/375px) * 100vw;
$bund-hight-size: (66px/667px) * 100vh;
$head-title-font-size: (23/66) * $bund-hight-size;

@function resize_vw($child_size){
  @return ($child_size / 375px) * 100vw;
}
@function resize_vh($child_size){
  @return ($child_size / 667px) * 100vh;
}

@function icon_size($isize){
  @return ($isize/375px) * 100vw;
}
%base_icon_size{
  height: $head-icon-home;
  width: $head-icon-home;
}

body{
  font-family: Hannotate SC;
  position: absolute;
  width: $full-width;
  height: $full-hight;
  left: 0px;
  top: 0px;

  background: linear-gradient(102.39deg, #FF8B03 0%, rgba(255, 255, 255, 0) 100%), #FF5C00;
}
.box{
  display: inline;
}

header{
  position: absolute;
  // width: $full-width;
  height: $bund-hight-size;
  left: 0px;
  top: 0px;
  .icon_home{
    position: absolute;
    @extend %base_icon_size;
    left: resize_vw(22px);
    top: resize_vh(21px);
  }
  .icon_edit{
    position: absolute;
    @extend %base_icon_size;
    left: resize_vw(330px);
    top: resize_vh(21px);
  }
  .header_title{
    position: absolute;
    width: resize_vw(138px);
    height: resize_vh(28px);
    left: resize_vw(119px);
    top: resize_vh(10px);

    font-family: Hannotate SC;
    font-style: normal;
    font-weight: normal;
    line-height: $head-title-font-size + 3;
    font-size: $head-title-font-size;
    text-align: center;
    color: #FFFFFF;
  }
}

footer{
  position: absolute;
  width: $full-width;
  height: $bund-hight-size;
  left: 0px;
  top: resize_vh(601px);
  .nav_icon{
    height: icon_size(30px);
    width: icon_size(30px);
  }
  .icon_base{
    padding: 40px;
  }
}

// Tweet list
.tweet {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

// Tweets poll
.running {
  height: 35px;
  width: 35pxd;
}

.tweets {
  padding-top: 20px;
  position: absolute;
  width: resize_vw(343px);
  height: resize_vh(399px);
  left: resize_vw(16px);
  top: resize_vh(102px);

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  form{
    padding-left: 20px;
    font-size: $head-title-font-size;
    ul{
      list-style:none;
      margin:0; padding:0;
    }
    li{
      list-style:none;
      margin:0; padding:6px;
      clear:both;
      span{
        width: 100%;
        float:left;
        margin:0 5px 0 0; padding:0;
        textarea{
          width: 100%;
          box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
        }
        label{
          color:#999;
          font-weight:normal;
          font-size:80%;
        }
      }
    }
    label{
      display:block;
      font-weight:bold;
      color:#000;
    }
    position: relative;
    input#submit{
      position: absolute;
      right: 1em;
      bottom: 0;
      color: black;
      font-family: Hannotate SC;
      width: resize_vw(100px);
      height: resize_vh(35px);
      font-size: $head-title-font-size;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
      background: #E87B0C;
      border-radius: 50px;
    }
  }
}
// #demo {
//        width:60%;
//    }
//    #demo ul {
//        list-style:none;
//        margin:0; padding:0;
//    }
//    #demo li {
//        list-style:none;
//        margin:0; padding:6px;
//        clear:both;
//    }
//    #demo label {
//        display:block;
//        font-weight:bold;
//        color:#666;
//    }
//    #demo li span {
//        float:left;
//        margin:0 5px 0 0; padding:0;
//    }
//    #demo li span label {
//        color:#999;
//        font-weight:normal;
//        font-size:80%;
//    }
//    #demo input.field,
//    #demo textarea {
//        background:#fff url(/content/img/css/fieldborder.png) repeat-x 0 0;
//        border:1px solid #ddd;
//        border-top-color:#ccc;
//        border-left-color:#ccc;
//        padding:3px;
//    }
//    #demo textarea {
//        width:100%;
//    }
//    #demo input#email {
//        width:200px;
//    }
