$full-width: 100vw;
$full-hight: 100vh;
$head-icon-home: (25px/375px) * 100vw;
$bund-hight-size: (66px/667px) * 100vh;
$head-title-font-size: (23/66) * $bund-hight-size;
$header-icon-position-top: 35px;

@function resize_vw($child_size){
  @return ($child_size / 375px) * 100vw;
}
@function resize_vh($child_size){
  @return ($child_size / 667px) * 100vh;
}

@function icon_size($isize){
  @return ($isize/375px) * 100vw;
}
%base_icon_size{
  height: $head-icon-home;
  width: $head-icon-home;
}

@media(min-width: 576px){
  .container{
    max-width: 100%;
  }
}

body{
  font-family: Hannotate SC;
  position: absolute;
  width: $full-width;
  height: $full-hight;
  left: 0px;
  top: 0px;

  background: linear-gradient(102.39deg, #FF8B03 0%, rgba(255, 255, 255, 0) 100%), #FF5C00;
}
.box{
  display: inline;
}

header{
  position: absolute;
  // width: $full-width;
  height: $bund-hight-size;
  left: 0px;
  top: 0px;
  .icon_home{
    position: absolute;
    @extend %base_icon_size;
    left: resize_vw(30px);
    top: resize_vh($header-icon-position-top);
  }
  .icon_reload{
    position: absolute;
    @extend %base_icon_size;
    left: resize_vw(280px);
    top: resize_vh($header-icon-position-top);
  }
  .icon_edit{
    position: absolute;
    @extend %base_icon_size;
    left: resize_vw(300px);
    top: resize_vh($header-icon-position-top);
  }
  .header_title{
    position: absolute;
    width: resize_vw(138px);
    height: resize_vh(28px);
    left: resize_vw(119px);
    top: resize_vh(26px);

    font-family: Hannotate SC;
    font-style: normal;
    font-weight: normal;
    line-height: $head-title-font-size + 3;
    font-size: $head-title-font-size;
    text-align: center;
    color: #FFFFFF;
  }
  .hidden_text{
    display: none;
  }
}

footer{
  position: absolute;
  width: $full-width;
  height: $bund-hight-size;
  left: 0px;
  top: resize_vh(610px);
  .nav_icon{
    height: icon_size(30px);
    width: icon_size(30px);
  }
  .icon_base{
    padding: 40px;
  }
}

// Tweet list
.tweet {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

// Tweets poll
.running {
  height: 35px;
  width: 35pxd;
}

.tweets {
  padding-top: 20px;
  position: absolute;
  width: resize_vw(343px);
  height: 65vh;
  left: resize_vw(16px);
  top: resize_vh(102px);

  background: #FFFFFF;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  form{
    height: 100%;
    padding-top: 20px;
    padding-left: 60px;
    font-size: $head-title-font-size;
    position: relative;
    ul{
      list-style:none;
      height: 100%;
      margin:0; padding:0;
      .tweet {
        padding: 0;
        background-color: white;
        overflow: hidden;
        box-shadow: 4px 2px 6px #c1ced7;
      }
      span{
        width: 90%;
        float:left;
        margin:0 8px 10px 0; padding:0;
        textarea{
          width: 100%;
          height: 100%;
          box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.25);
        }
      }
    }
    li{
      list-style:none;
      margin:0; padding:6px;
      clear:both;
        label{
          color:#000;
          font-weight:normal;
          font-size:80%;
        }
      }
    label{
      display:block;
      font-weight:bold;
      color:#000;
    }
    input#submit{
      position: absolute;
      right: 1em;
      bottom: 1em;
      color: black;
      font-family: Hannotate SC;
      width: resize_vw(100px);
      height: resize_vh(35px);
      font-size: $head-title-font-size;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
      background: #E87B0C;
      border-radius: 50px;
    }
  }
}

$tweet_list: 77vh;
.container{
  left: 0;
  margin: 0; padding: 0;
  width: 100vw;
  height: $tweet_list;
}
.poll_list{
  padding: 0;
  padding-top: 15px;
  position: absolute;
  width: 100vw;
  height: $tweet_list;
  left: 0;
  top: resize_vh(70px);
  overflow: auto;
  font-size: 40px;
  ul{
    padding: 0;
    width: 100%;
    li{
      width: 100%;
      list-style: none;
    }
  }
}

.tweet{
  font-size: 60px;
  position: relative;
  height: resize_vh(70px);
  .compensation{
    position: absolute;
    right: 80px;
    bottom: 10px;
    .running{
      width: 60px;
      height: 60px;
    }
    .map_icon{
      width: 60px;
      height: 60px;
      border: 0;
    }
  }
  .tweet-title{
    position: absolute;
    left: 100px;
  }
}

// mypage
.poll_list{
  ul{
    li{
      list-style: none;
      display: inline;
      width: 50vw;
      text-align:center;
    }
    &:active{
      background-color: white;
    }
  }
}

// search page
.search-form{
  position: absolute;
  padding: 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: 87vw;
  height: 65vh;
  left: 60px;
  top: 30px;
  font-size: 50px;

  input[type="text"]{
    box-shadow: 1px 2px 2px;
  }
  input[type="submit"]{
    background-color: #ff7c28;
    border-radius: 8px;
  }
}
