<footer>
  <div class="icon_position">
    <div class="box icon_base">
      <%= link_to(image_tag("clock.png",class: "nav_icon"), root_path, class:"icon_base") %>
    </div>
    <div class="box icon_base">
      <%= link_to(image_tag("search.png",class: "nav_icon"), new_seek_path, class:"icon_base") %>
    </div>
    <div class="box icon_base">
      <%= link_to(image_tag("bell.png",class: "nav_icon"), root_path, class:"icon_base") %>
    </div>
    <div class="box icon_base">
      <%= link_to(image_tag("mail.png",class: "nav_icon"), root_path, class:"icon_base") %>
    </div>
  </div>
</footer>
